<template>
  <div class="home">Home
    <v-btn @click="addConference">Add a conference</v-btn>
    <v-btn @click="deleteConference">Delete a conference</v-btn>
  </div>
</template>

<script>
import HelloWorld from "@/components/HelloWorld.vue";
import conferencesQuery from "@/graphql/conferences.query.gql";
import addConferenceMutation from "@/graphql/addConference.mutation.gql";
import deleteConferenceMutation from "@/graphql/deleteConference.mutation.gql";

export default {
  name: "home",
  components: {
    HelloWorld
  },
  apollo: {
    conference: {
      query: conferencesQuery
    }
  },
  methods: {
    addConference() {
      this.$apollo.mutate({
        mutation: addConferenceMutation
      });
    },
    deleteConference() {
      this.$apollo.mutate({
        mutation: deleteConferenceMutation
      });
    }
  }
};
</script>
